
<div>
    <h2>Products List </h2>
    <table border="3"  >
     <thead>
         <th>Product id</th>
         <th>Name</th>
         <th>Description</th>
         <th>Price</th>
         <th>Quantity</th>
         <th>Update</th>
         <th>Delete</th>
     </thead>
 
     <tr *ngFor="let product of products">
         <td>{{product.productId}}</td>
         <td>{{product.name}}</td>
         <td>{{product.description}}</td>
         <td>{{product.price}}</td>
         <td>{{product.qty}}</td>
         
           
         <td> <button  class="btn btn-warning" ><a [routerLink]="'/update/' + product.productId">Update</a></button></td>
             
         <td><button *ngIf="product.productId !== undefined" (click)="deleteProduct(product.productId)" class="btn btn-danger" >Delete</button></td>

                   
         
     </tr>
    </table>
 </div>
 <hr>
 
